<div class="mobile-register">
	<div class="header">
		<h1>Registro</h1>
	</div>


	<div class="logo" style="left: 20px;">
		<a th:href="@{/inicio}"><img src="images/icono.png" alt=""
			style="width: 150px; height: 150px; border-radius: 150px; border: 5px solid #1769e4;"></a>
	</div>

	<div class="container">
		<form class="row g-3" role="form" autocomplete="off"
			th:object="${userForm}" th:action="@{/userForm}" method="post">
			<div class="col-md-4 mt-2">
				<input type="text" name="nombre" placeholder="Nombres:"
					th:field="${userForm.nombre}">
				<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}"
					th:errors="*{nombre}">Nombre Error</div>
			</div>
			<div class="col-md-4 mt-2">
				<input type="text" name="apellido" placeholder="Apellidos:"
					th:field="${userForm.apellido}">
				<div class="alert-danger" th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}">Apellido Error</div>
			</div>
			<div class="col-md-4 mt-2">
				<input type="text" name="cedula" placeholder="Documento:"
					th:field="${userForm.documento}">

			</div>
			<div class="col-md-4 mt-2">
				<input type="text" name="celular" placeholder="Celular:"
					th:field="${userForm.celular}">

			</div>
			<div class="col-md-4 mt-2">
				<input type="text" name="telFijo" placeholder="Telefono fijo:"
					th:field="${userForm.telefono}">

			</div>
			<div class="col-md-4 mt-2">
				<input type="text" name="direccion" placeholder="Direccion"
					th:field="${userForm.direccion}">

			</div>
			<div class="col-md-4 mt-2">
				<input type="email" name="email" placeholder="Correo electronico"
					th:field="${userForm.correo}">
			</div>

			<div class="col-md-4 mt-2">
				<input type="text" name="username" placeholder="Usuario"
					th:field="${userForm.username}">

			</div>

			<div class="col-md-4 mt-2">
				<input type="password" name="pass" placeholder="Contraseña"
					th:field="${userForm.password}">

			</div>
			<div class="col-md-4 mt-2">
				<input type="password" name="repass"
					placeholder="Repetir Contraseña"
					th:field="${userForm.confirmPassword}">

			</div>

			<div class="d-grid gap-2" style="width: 890px;">
				<input type="reset" class="btn btn-secondary" value="Cancel">
				<input type="submit" class="btn btn-primary" value="Save Changes">
			</div>
		</form>
	</div>
	<div class="alert alert-danger text-center" th:if="${formErrorMessage}"
		th:text="${formErrorMessage}">Error MEssage</div>

</div>