<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>MercAgro</title>
<link rel="shortcut icon" type="image/png" href="images/icono.png" />
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tms-0.4.1.js"></script>
<script src="js/slider.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->
</head>
<body>
	<div class="main-bg">
		<!-- Header -->
		<header>
			<div class="inner">
				<h1 class="logo">
					<a th:href="@{inicio}"></a>
				</h1>
				<nav>
					<ul class="sf-menu">
						<li><a th:href="@{inicio}">Inicio</a></li>
						<li class="current"><a th:href="@{productos}">Productos</a></li>
						<li><a th:href="@{noticias}">Noticias</a>
							<ul>
								<li><a href="#">Novedades</a></li>
								<li><a href="#">Herramientas</a></li>
								<li><a href="#">Riego</a>
									<ul>
										<li><a href="#">Moto bombas</a></li>
										<li><a href="#">Herramientas de mano</a></li>
									</ul></li>
								<li><a href="#">Vehiculos</a></li>
							</ul></li>
						<!--<li><a href="pricing.html">Precios</a></li>-->
						<li><a th:href="@{contacto}">Contactenos</a></li>
						<li><a th:href="@{login}">Ingresar</a>
							<ul>
								<li><a th:href="@{login}">Iniciar Sesión</a></li>
								<li><a th:href="@{register}">Registrarse</a></li>
							</ul></li>
					</ul>
				</nav>
				<div class="clear"></div>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<div class="container_24">
				<div class="wrapper">
					<div class="grid_24 content-bg">
						<div class="wrapper">
							<article class="grid_22 suffix_1 prefix_1 alpha omega">
							<a th:href="@{nuevosProductos}"><h2 style="">Agregar productos</h2></a>
								<h2>Todos los productos:</h2>
								<tr th:each="productos: ${productList}">
								<td th:text="${productos.nombre}"></td>
								<td th:text="${productos.descripcion}"></td>
								<td th:text="${productos.costo}"></td>
								<td th:text="${productos.cantidad}"></td>
								<td>
								<div class="wrapper indent-bot">
									<div class="grid_7 alpha">
										<div class="wrapper">
											<img src="images/page2-img1.jpg" alt="" class="img-indent">
											<dl class="extra-wrap def-list-1">
												<dt>Zanahoria</dt>
												<dd>Nombre, Descripción, Precio</dd>
												<div class="option" id="newUser">
													<p class="option-text">
														<a th:href="@{infoproductos}" class="option-text">Ver
															Mas</a>
													</p>
												</div>
											</dl>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Footer -->
		<footer>
			<div class="container_24">
				<div class="wrapper">
					<div class="grid_24 footer-bg">
						<div class="hr-border-2"></div>
						<div class="wrapper">
							<div class="grid_7 suffix_1 prefix_1 alpha">
								<div class="copyright">
									&copy; 2021 <strong class="footer-logo">MercAgro</strong>
								</div>
							</div>
							<div class="grid_4">
								<h5 class="heading-1">Links:</h5>
								<ul class="footer-list">
									<li><a href="contacts.html">Contactenos</a></li>
									<!--<li><a href="#">Sugerir ideas</a></li>
                <li><a href="#">Foro de apoyo</a></li>
              </ul>-->
							</div>
							<div class="grid_4">
								<h5 class="heading-1">Atencion al cliente:</h5>
								<ul class="footer-list">
									<li><a href="#">soporte@mercagro.co</a></li>
								</ul>
							</div>
							<!--<div class="grid_2 suffix_1 omega">
              <ul class="social-list">
                <li><a href="#"><img src="images/social-icon-1.png" alt=""></a></li>
                <li><a href="#"><img src="images/social-icon-2.png" alt=""></a></li>
                <li><a href="#"><img src="images/social-icon-3.png" alt=""></a></li>
              </ul>
            </div>-->
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
