<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>MercAgro</title>
<link rel="shortcut icon" type="image/png" href="images/icono.png" />
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tms-0.4.1.js"></script>
<script src="js/slider.js"></script>
<!-- <script src="js/jquery-ui.min.js"></script> 
<link rel="stylesheet" href="css/jquery-ui.min.css">
<script src="js/buscador.js"></script>-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->


</head>
<body>
	<div class="main-bg">
		<!-- Header -->
		<header>
			<div class="inner">
				<h1 class="logo">
					<a th:href="@{inicio}"></a>
				</h1>
				<nav>
					<ul class="sf-menu">
						<li><a th:href="@{inicio}">Inicio</a></li>
						<li class="current"><a th:href="@{productos}">Productos</a></li>
						<li><a th:href="@{noticias}">Noticias</a></li>
						<!--<li><a href="pricing.html">Precios</a></li>-->
						<li><a th:href="@{contacto}">Contactenos</a></li>
						<li><a th:href="@{login}">Ingresar</a>
							<ul>
								<!-- <li><a th:href="@{login}">Iniciar Sesión</a></li> -->
              			<li><a th:href="@{userForm}">Registrarse</a></li>
							</ul></li>
					</ul>
				</nav>
				<div class="clear"></div>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<div class="container_24">
				<div class="wrapper">
					<div class="grid_24 content-bg">
						<div class="wrapper">
							<article class="grid_22 suffix_1 prefix_1 alpha omega">
								<div class="wrap">
		<!-- <h1 style="color: white;">Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item ct_item_active" th:category="all">Todo</a>
				<a href="#" class="category_item" th:category="Legumbres">Legumbres</a>
				<a href="#" class="category_item" th:category="Frutas">Frutas</a>
				<a href="#" class="category_item" th:category="Verduras">Verduras</a>
				<a href="#" class="category_item" th:category="Hortalizas">Hortalizas</a>
			</div>
			<div class="card-columns">
			<section th:each="prod: ${productoList}" style="color: white;">
				<div class="card" th:category="Frutas"SSFFFF>
				<img src="images/frutas.jpg" height="120" />
				</div>
				<div class="product-item" th:category="Legumbres" th:if="${prod.tipo == 'Legumbres'}">
				<img src="images/legumbres.jpeg" height="120" />
				</div>
				<div class="product-item" th:category="Verduras" th:if="${prod.tipo == 'Verduras'}">
				<img src="images/verdura.jpg" height="120" />
				</div>
				<div class="product-item" th:category="Hortalizas" th:if="${prod.tipo == 'Hortalizas'}">
				<img src="images/hortalizas.jpg" height="120" />
				</div>
				
				<dl class="extra-wrap def-list-1">
											<br>
											<dt th:text="${prod.nombre}"></dt>
											<dd th:text="${prod.descripcion}"></dd>
											<dd th:text="' $ '+${prod.costo}+' valor bulto'"></dd>
											<div class="option" id="newUser">
												<p class="option-text">
													<a th:href="@{infoproductos}" class="option-text">Ver
														Mas</a>
												</p>
											</div>
										</dl>
			</section>
			</div>
			</div>
			</div>-->
			
								<h2>
									<a style="color: yellow;" th:href="@{nuevosProductos}">Agregar
										productos</a>
										
										<a style="color: yellow; float:right;" th:href="@{listarProductos}">Editar Productos</a>
								</h2>
								<h2 style="color: white;">Todos los productos:</h2>
								<br> <br>
								<div class="card-columns">
									<div class="card" th:each="prod: ${productoList}"
										style="background-color: transparent; color: white;">
										<span th:if="${prod.tipo == 'Legumbres'}"><img
											src="images/legumbres.jpeg" height="120" /></span> <span
											th:if="${prod.tipo == 'Frutas'}"><img
											src="images/frutas.jpg" height="120" /></span> <span
											th:if="${prod.tipo == 'Verduras'}"><img
											src="images/verdura.jpg" height="120" /></span> <span
											th:if="${prod.tipo == 'Hortalizas'}"><img
											src="images/hortalizas.jpg" height="120" /></span>
										<dl class="extra-wrap def-list-1">
											<br>
											<dt th:text="${prod.nombre}"></dt>
											<dd th:text="${prod.descripcion}"></dd>
											<dd th:text="'Cantidad Bultos '+${prod.cantidad}"></dd>
											<dd th:text="'Valor Total $'+${prod.costo}"></dd>
											<dd style="color: yellow;" th:text="'Nombre Contacto: '+${prod.cliente}"></dd>
											<dd style="color: yellow;" th:text="'Telefóno: '+${prod.telefono}"></dd>
											<div class="option" id="newUser">
											</div>
										</dl>
									</div> 
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Footer -->
		<footer>
			<div class="container_24">
				<div class="wrapper">
					<div class="grid_24 footer-bg">
						<div class="hr-border-2"></div>
						<div class="wrapper">
							<div class="grid_7 suffix_1 prefix_1 alpha">
								<div class="copyright">
									&copy; 2021 <strong class="footer-logo">MercAgro</strong>
								</div>
							</div>
							<div class="grid_4">
								<h5 class="heading-1">Links:</h5>
								<ul class="footer-list">
									<li><a href="contacts.html">Contactenos</a></li>
							</div>
							<div class="grid_4">
								<h5 class="heading-1">Atencion al cliente:</h5>
								<ul class="footer-list">
									<li><a href="#">soporte@mercagro.co</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
